
#title{
    width: 700px;
    height: 80px;
    border: 1px solid #DEE2E6;
    border-radius: 2px;
    padding: 5px;
    margin: 5px;
}
#inf{
    width: 700px;
    height: 150px;
    border: 1px solid #DEE2E6;
    border-radius: 2px;
    padding: 5px;
    margin: 5px;
}
